<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stonebridge.mapper.UserMapper">
    <!--配置查询所有-->
    <select id="getUser" resultType="com.stonebridge.domain.User">
        SELECT *
        FROM tb_user
        WHERE id = #{id}
    </select>
    <update id="updateUserById">
        UPDATE tb_user SET name =#{name},user_name=#{user_name}
        WHERE id = #{id}
    </update>
</mapper>